<a href="https://colab.research.google.com/github/Mahidhar2210/PythonNew/blob/module2/mid1Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
--#prime number in given range using functions
def pn(x):
  flag=0
  for i in range(2,x):
    if x%i==0:
      flag=1
      break
  if flag==0:
    print(x)
a=int(input("enter range : "))
b=int(input())
for i in range(a,b):
  pn(i)

enter range : 25
50
29
31
37
41
43
47

In [ ]:
#to read any month in integer and display days for that month
def month(x):
  if x== 1 or x==3 or x== 5 or x== 7 or x== 8 or x== 10 or x== 12:
    print("31 days")
  elif x==2:
    print("28/29 days")
  elif x==4 or x==6 or x== 9 or x== 11:
    print("30 days")
  else:
    print("enter valid month number")
a=int(input("enter valid month number :"))
month(a)

enter valid month number :12
31 days

In [ ]:
#to print even length words in a string
def even(n):
  if len(n)%2==0:
    print(n)
a=str(input())
x=a.split()
for i in x:
  even(i)

this is a python class
this
is
python

In [ ]:
#capitalize first and last letter of each word
a=str(input())
n=a.split()
s=""
for i in n:
  b=i.capitalize()
  c=i[-1].capitalize()
  s=b[0:-1]+c
  print(s,end=" ")

hero kushwant
HerO KushwanT

In [ ]:
#read a string from user display first character of each word with capital letter
a=str(input())
n=a.split()
s=""
for i in n:
  s=i.capitalize()
  print(s,end=' ')

kushwanth is  a play boy
Kushwanth Is A Play Boy

In [ ]:
#convert a list of multiple integer into a single integer
a=eval(input("enter list elements :"))
print(type(a))
b=""
for i in a:
  b+=str(i)
print(b)

enter list elements :[10,20,30,40]
<class 'list'>
10203040

In [ ]:
#to find power of number with recursion and without recursion n=2,p=3
def pwr(a,b):
  if b==0:
    return 1
  else:
    return a*pwr(a,b-1)
a=int(input())
b=int(input())
print(pwr(a,b))

2
5
32

In [ ]:
#to sort tuples by total digits input list=[(3,4,6,723),(1,2),(134,234,34)] 
list=[(3,4,6,723),(1,2),(134,234,34)]
list.sort()
print(list)

[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

In [ ]:
#take 5 subject marks from user and display the grade of the student if avg is 90-100 o grade 80-89 a+ 70-79 A 60-69 B+ <40 fail
s1=int(input())
s2=int(input())
s3=int(input())
s4=int(input())
s5=int(input())
avg=(s1+s2+s3+s4+s5)/5
if avg>=90:
  print("O grade")
elif avg>=80:
  print("A+ grade")
elif avg>=70:
  print("A grade")
elif avg>=60:
  print("B+ grade")
elif avg>=50:
  print("B grade")
elif avg>=40:
  print("C grade")
else:
  print("Fail8")

60
0
79
69
78
B grade

In [ ]:
#that prints 1 if all the three given numbers are in acending order 
a=int(input())
b=int(input())
c=int(input())
d=[a,b,c]
e=d
d.sort()
if d==e:
  print("1")
else:
  print("0")

1
2
3
1

In [ ]:
#check given number is perfect number or not
a=int(input())
b=a
c=0
for i in range(1,a):
  if a%i==0:
    c+=i
if c==b:
  print("perfect number")
else:
  print("not perfect number")

6
perfect number

In [ ]:
#check given string is palindrame or not
s=input()
a = ""
for i in s:
  a = i + a
if a==s:
  print("palindrome")
else:
  print("Not palindrome")

madam
palindrome

In [ ]:
#gcd of 2 num
a=int(input("enter a number"))
b=int(input("enter another number"))
k=a if (a<b) else b
while True:
  if(a%k==0 and b%k==0):
    break
  k-=1
print(k)

enter a number5
enter another number100
5

In [ ]:
#sum of even numbers
a=int(input())
s=0
while a>0:
  d=a%10
  if d%2==0:
    s=s+d
  a=a//10
print(s)

1234
6

In [ ]:
#to calculate sum of sqares of digits of number given by user input=123 output=14
a=int(input())
s=0
while a>0:
  d=a%10
  s=s+d*d
  a=a//10
print(s)

123
14

In [ ]:
#given a string is s="abcdefcba" , print count front back matches
a=input()
c=0
for i in range(len(a)//2):
  d=i+1
  if a[i]==a[-d]:
    c+=1
print(c)

abcdefcba
3

In [ ]:
#print(repeatNumTimes(4)) ,result=[1,2,2,3,3,3,4,4,4,4]
a=int(input())
b=[]
for i in range(1,a+1):
  for j in range(i):
    b.append(i)
print(b)

4
[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [ ]:
#print number of vowels and consonants 
a=input()
v=0
c=0
for i in range(len(a)):
  if a[i]=='a' or a[i]=='e' or a[i]=='i' or a[i]=='o' or a[i]=='u':
    v+=1
  else:
    c+=1
print("vowels=",v)
print('consonants=',c)

mahidhar
vowels= 3
consonants= 5

In [ ]:
#given two integers A and B , if A is less than B then print in asecnding order,if B is less than A then print in decending order
a=int(input())
b=int(input())
if a>b:
  while a>=b:
    print(a,end=" ")
    a-=1
else:
  for i in range(a,b+1):
    print(i,end=" ")

10
1
10 9 8 7 6 5 4 3 2 1

In [ ]:
#roundtrips 6km take input from user as number of days ,number of round trips he completed per day>calculate the total distance he cover in meters
# if distance is less than 4000m then ask to work more if greater then print good job
a=int(input())
b=int(input())
m=a*b*6000
if m>=4000:
  print("Good job")
else:
  print("You have to work more")

4
3
Good job

In [ ]:
#given the list of students in L and a character,display the names of students whose first letter is given as input
a=['devender','srikar','omsri','mahi','sohan','abhi']
b=input()
c=[]
for i in a:
  if i[0]==b:
    c.append(i)
print(c)

s
['srikar', 'sohan']

In [ ]:
#given a list of city names print the city names whose length is greater than the given length
a=['devender','srikar','omsri','mahi','sohan','abhi']
b=int(input())
c=[]
for i in a:
  if len(i)>=b:
    c.append(i)
print(c)

5
['devender', 'srikar', 'omsri', 'sohan']

In [ ]:
def com(a):
    b=""
    for i in a:
      b+=str(i)
    return b
a=eval(input())
print(com(a))

[11,22]
1122